
[submodule "external/glew/glew"]
	path = external/glew/glew
	url = https://github.com/HeeroYui/glew.git
[submodule "build"]
	path = build
	url = https://github.com/HeeroYui/Build.git
[submodule "external/etk"]
	path = external/etk
	url = https://github.com/HeeroYui/etk.git
[submodule "external/agg"]
	path = external/agg
	url = https://github.com/HeeroYui/libagg.git
[submodule "external/portaudio"]
	path = external/portaudio
	url = https://github.com/HeeroYui/libportaudio.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/HeeroYui/libfreetype.git
[submodule "external/zip"]
	path = external/zip
	url = https://github.com/HeeroYui/libzip.git
[submodule "external/png"]
	path = external/png
	url = https://github.com/HeeroYui/libpng.git
[submodule "external/ogg"]
	path = external/ogg
	url = https://github.com/HeeroYui/libogg.git
[submodule "external/lua"]
	path = external/lua
	url = https://github.com/HeeroYui/liblua.git
[submodule "external/z/zlib"]
	path = external/z/zlib
	url = https://github.com/madler/zlib.git
[submodule "external/bullet/bullet"]
	path = external/bullet/bullet
	url = https://github.com/HeeroYui/bullet.git
[submodule "external/esvg"]
	path = external/esvg
	url = https://github.com/HeeroYui/esvg.git
[submodule "external/exml"]
	path = external/exml
	url = https://github.com/HeeroYui/exml.git
