
[submodule "external/glew/glew"]
	path = external/glew/glew
	url = https://github.com/HeeroYui/glew.git
[submodule "build"]
	path = build
	url = https://github.com/HeeroYui/Build.git
[submodule "external/etk"]
	path = external/etk
	url = https://github.com/HeeroYui/etk.git
[submodule "external/agg"]
	path = external/agg
	url = https://github.com/HeeroYui/libagg.git
[submodule "external/portaudio"]
	path = external/portaudio
	url = https://github.com/HeeroYui/libportaudio.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/HeeroYui/libfreetype.git
[submodule "external/png"]
	path = external/png
	url = https://github.com/HeeroYui/libpng.git
[submodule "external/ogg"]
	path = external/ogg
	url = https://github.com/HeeroYui/libogg.git
[submodule "external/lua"]
	path = external/lua
	url = https://github.com/HeeroYui/liblua.git
[submodule "external/z/zlib"]
	path = external/z/zlib
	url = https://github.com/madler/zlib.git
[submodule "external/bullet/bullet"]
	path = external/bullet/bullet
	url = https://github.com/HeeroYui/bullet.git
[submodule "external/esvg"]
	path = external/esvg
	url = https://github.com/HeeroYui/esvg.git
[submodule "external/exml"]
	path = external/exml
	url = https://github.com/HeeroYui/exml.git
[submodule "external/egami"]
	path = external/egami
	url = https://github.com/HeeroYui/egami.git
[submodule "external/ejson"]
	path = external/ejson
	url = https://github.com/HeeroYui/ejson.git
[submodule "external/ege"]
	path = external/ege
	url = https://github.com/HeeroYui/ege.git
[submodule "monk"]
	path = monk
	url = https://github.com/HeeroYui/monk.git
[submodule "external/rtaudio/rtaudio"]
	path = external/rtaudio/rtaudio
	url = https://github.com/HeeroYui/rtaudio.git
[submodule "external/eaudiofx"]
	path = external/eaudiofx
	url = https://github.com/HeeroYui/eaudiofx.git
[submodule "external/airtaudio"]
	path = external/airtaudio
	url = https://github.com/HeeroYui/AirTAudio.git
[submodule "external/ewolsa"]
	path = external/ewolsa
	url = https://github.com/HeeroYui/ewolsa.git
[submodule "ios-deploy"]
	path = ios-deploy
	url = https://github.com/HeeroYui/ios-deploy.git
[submodule "external/enet"]
	path = external/enet
	url = https://github.com/HeeroYui/enet.git
[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/HeeroYui/gtest
[submodule "external/luaWrapper"]
	path = external/luaWrapper
	url = https://github.com/HeeroYui/luaWrapper.git
