
[submodule "external/glew/glew"]
	path = external/glew/glew
	url = https://github.com/HeeroYui/glew.git
[submodule "external/etk"]
	path = external/etk
	url = https://github.com/HeeroYui/etk.git
[submodule "external/agg"]
	path = external/agg
	url = https://github.com/HeeroYui/libagg.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/HeeroYui/libfreetype.git
[submodule "external/png"]
	path = external/png
	url = https://github.com/HeeroYui/libpng.git
[submodule "external/bullet/bullet"]
	path = external/bullet/bullet
	url = https://github.com/HeeroYui/bullet.git
[submodule "external/esvg"]
	path = external/esvg
	url = https://github.com/HeeroYui/esvg.git
[submodule "external/exml"]
	path = external/exml
	url = https://github.com/HeeroYui/exml.git
[submodule "external/egami"]
	path = external/egami
	url = https://github.com/HeeroYui/egami.git
[submodule "external/ejson"]
	path = external/ejson
	url = https://github.com/HeeroYui/ejson.git
[submodule "external/ege"]
	path = external/ege
	url = https://github.com/HeeroYui/ege.git
[submodule "ios-deploy"]
	path = ios-deploy
	url = https://github.com/HeeroYui/ios-deploy.git
[submodule "external/enet"]
	path = external/enet
	url = https://github.com/HeeroYui/enet.git
[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/HeeroYui/gtest

[submodule "external/audio-ess"]
	path = external/audio-ess
	url = https://github.com/HeeroYui/audio-ess.git
[submodule "external/audio-blockEngine"]
	path = external/audio-blockEngine
	url = https://github.com/HeeroYui/audio-blockEngine.git

[submodule "external/ogg"]
	path = external/ogg
	url = https://github.com/musicdsp/ogg.git
[submodule "external/speex"]
	path = external/speex
	url = https://github.com/musicdsp/speex.git
[submodule "external/speexdsp"]
	path = external/speexdsp
	url = https://github.com/musicdsp/speexdsp.git
[submodule "external/audio"]
	path = external/audio
	url = https://github.com/musicdsp/audio.git
[submodule "external/audio-algo-river"]
	path = external/audio-algo-river
	url = https://github.com/musicdsp/audio-algo-river.git
[submodule "external/audio-algo-drain"]
	path = external/audio-algo-drain
	url = https://github.com/musicdsp/audio-algo-drain.git
[submodule "external/audio-drain"]
	path = external/audio-drain
	url = https://github.com/musicdsp/audio-drain.git
[submodule "external/audio-river"]
	path = external/audio-river
	url = https://github.com/musicdsp/audio-river.git
[submodule "external/audio-orchestra"]
	path = external/audio-orchestra
	url = https://github.com/musicdsp/audio-orchestra.git
[submodule "external/audio-algo-speex"]
	path = external/audio-algo-speex
	url = http://github.com/musicdsp/audio-algo-speex.git
[submodule "external/z"]
	path = external/z
	url = https://github.com/HeeroYui/z.git
